.container{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    color:#fff;
    transform: translateY(27.8rem);
}

.open{
    transform: translateY(0);
    transition: transform 0.8s ease-in-out;
}

.handler{
    background-color: #181818;
    padding:0.5rem 1rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width:7rem;
    text-align: center;
    box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.3);
    clip-path: inset(-0.3rem -0.3rem 0 -0.3rem);
    z-index: 100;
}

.handler span:hover{
    cursor: pointer;
}

.formContainer {
    background-color: #181818;
    width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
    box-shadow: 0 0 0.3rem rgba(256, 256, 256, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}