.contentContainer{
    width: calc(100vw - 6rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.listContainer{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(66vw - 6rem);
    padding: 0 0 0 33vw;
}

.listContainer.wide{
    width: calc(66vw - 6rem);
    justify-content: center;
    padding-left: 16.5vw;
}

.listTitles{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.listTitles span{
    font-style: italic;
}

.topButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topButton{
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    border-radius: 0.2rem;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1rem;

    &:hover, &.active{
        background-color: #ffffff9f;
        color: #181818;
        cursor: pointer;
    }
}

/*screen sizes up to 980px width*/
@media (max-width: 980px){
    .contentContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .listContainer{
        width: calc(100vw - 6rem);
        padding: 0;
    }

    .listContainer.wide{
        width: calc(100vw - 6rem);
        padding-left: 0;
    }

    .listTitles span{
        font-size: 0.8rem;
    }
}