.dateNavigationContainer{
    margin: 1rem 0;
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navButton{
    width: 4rem;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #ffffff9f;
    background-color: #3d5fc5;
    color: #ffffff;
    cursor: pointer;

    &:hover{
        background-color: #fff;
        color: #181818;
    }
}

.input{
    width: 8rem;
    margin: 0 0.5rem;
    padding:  0.4rem;
    border-radius: 0.4rem;
    background-color: #fff;
    color: #181818;
}