.drawerWrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.drawerContainer{
    width: 33vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0.5rem;
    z-index: 100;
    transform: translateX(-34vw);
    transition: transform 0.8s ease-in-out;
    overflow-y: auto;
}

.drawerContainer.open{
    transform: translateX(0);
}

.closeButton{
    margin: 1rem 0;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 1.5rem;
}

.dayTitle{
    align-self: center;
    font-style: italic;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #ffffff;
    padding: 0 0.5rem;
}

.error{
    font-style: italic;
    color: #8b0000;
}

.previewEventContainer{
    width: 67vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
}