.previewContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(33vw - 3rem);
    min-width: 20rem;
    background-color: #181818;
    border-radius: 0.4rem;
    border: 1px solid #ffffff9f;
    position: fixed;
    top: calc(50% + 2rem);
    transform: translateY(-50%);
}

.imageContainer{
    position: relative;
    overflow: hidden;
}

.imageOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97.5%;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.imageContainer:hover .imageOverlay{
    opacity: 1;
}

.imageContainer .imageOverlay svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ffffff9f;
    padding: 0.7rem;
    border-radius: 50%;

    &:hover{
        cursor: pointer;
    }
}

.imageContainer img{
    width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin: 3rem 0;
}

.infoContainer svg{
    margin-right: 0.5rem;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding-bottom: 2rem;
    text-align: center;
}

.previewContainer p{
    margin-block-start: 0.1rem;
    margin-block-end: 0.1rem;
    font-style: italic;
}

.buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.buttonsContainer button,
.buttonsDeletePromptContainer button{
    width: 5rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #181818;
    margin: 0.5rem;

    &:hover{
        cursor: pointer;
    }
}

.editButton:hover{
    background-color: #78cefa;
    color: #fff;
}

.deleteButton:hover{
    background-color: #b22222;
    color: #fff;
}

.closeButton:hover{
    background-color: #ffffff9f;
    color: #fff;
}

.deletePromptContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.updateFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

/*screen sizes up to 480px width*/
@media (max-width: 480px){
    .previewContainer{
        width: calc(100vw - 6rem);
    }

    .previewContainer p{
        font-size: 0.9rem;
    }

    .title{
        font-size: 1.3rem!important;
        padding-bottom: 1rem;
    }
}

/*screen sizes width range 481px-768px*/
@media (min-width: 481px) and (max-width: 768px){
    .previewContainer{
        width: calc(70vw - 6rem);
    }
}

/*screen sizes width range 481px-768px*/
@media (min-width: 769px) and (max-width: 980px){
    .previewContainer{
        width: calc(70vw - 6rem);
    }

    .title{
        padding-bottom: 0.7rem;
    }
}