.previewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    width: calc(38% - 3rem);
    height: calc(100vh - 6rem);
    background: #000;
    border-radius: 0.4rem;
    border-right: 1px solid #fff;
}

.imageContainer img{
    width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    margin-block-start: 0.1rem;
    margin-block-end: 0.1rem;
    font-style: italic;
}