.backgroundCalendar{
    background: radial-gradient(
        circle,
        #f0f0f0 0%,
        #242424 60%
    );
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.calendarContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarTopContainer{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navButton{
    width: 4rem;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #fff;
    color: #181818;
    cursor: pointer;

    &:hover{
        background-color: #ffffff9f;
        color: #fff;
    }

    svg{
        padding: 0 0.3rem;
    }
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns, one for each day */
    grid-gap: 0.5rem;
    padding: 0;
}

.weekday{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ffffff9f;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 10rem;
    height: 7rem;
    background-color: #ffffff;
    opacity: 0.85;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f0f0f;
}

.today{
    color: #ffffff;
    border: 1px solid #ffffff9f;
    background-color: #4169e1;
    font-size: 1.6rem;
}

.greyedOut{
    opacity: 0.2;
}

.error{
    font-style: italic;
    color: #8b0000;
}

.counter{
    width: 100%;
    color: #ffffff;
    background-color: #4169e1;
    border-radius: 0.4rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-style: italic;
    text-align: center;

    &:hover{
        cursor: pointer;
    }
}